# EDA on Response Comments - 383,418

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import getpass

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

# Suppress warnings
import warnings
warnings.filterwarnings('ignore')
sns.set(style='ticks')  #set styling preferences
%matplotlib inline

In [30]:
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

path="Data//"#<-----------change directory
file="SFS_Responses_Export_File_2017-1_to_2017-2(wo CIC TDI) - iLab.xlsx"
df=pd.read_excel(path+file)

file1="SFS_Responses_Export_File_2018-1_to_2018-2(wo TDI) - iLab.xlsx"
df1 = pd.read_excel(path+file1)

file2="SFS_Responses_Export_File_2019-1_to_2019-2(wo TDI) - iLab.xlsx"
df2 = pd.read_excel(path+file2)

file3="SFS_Responses_Export_File_2020-1_to_2020-2 (wo TDI) - iLab.xlsx"
df3 = pd.read_excel(path+file3)

file4="SFS_Responses_Export_File_2021-1_to_2021-2(wo TDI) - iLab.xlsx"
df4 = pd.read_excel(path+file4)

df = df.append(df1).append(df2).append(df3).append(df4)
df.describe()

,RESP_ID,RESP_SURVEY_ID,RESP_Q_ID,RESP_POINTS,RESP_TEACHER_INCORRECT,RESP_FIELDOFSTUDY,RESP_IMPORT_BATCH,RESP_DMG_AGE,RESP_DMG_BASIS_OF_ADM,RESP_DMG_SCHOLARSHIP,RESP_DMG_UAC_PREFERENCE,RESP_DMG_ATAR_ON_ADM,RESP_DMG_PREVIOUS_CREDIT,RESP_COMMENT_HIDDEN
count,3.832164e+06,3.832164e+06,3.832164e+06,2.855441e+06,100805.0,3.806395e+06,25147.000000,3.630363e+06,3.625224e+06,6674.000000,3.630123e+06,404938.000000,3.630123e+06,3.832164e+06
mean,1.832717e+07,2.568385e+05,3.039899e+03,4.126253e+00,1.0,1.690931e+04,258.898994,2.351199e+01,1.832594e+01,11.853761,1.017596e+00,71.861621,3.588969e+00,2.348542e-06
std,2.534124e+06,5.238384e+04,1.110361e+03,9.610012e-01,0.0,2.746499e+04,238.113326,6.030616e+00,9.177150e+00,2.439905,9.413343e-01,31.603650,1.403345e+01,1.532494e-03
min,1.392660e+07,1.634020e+05,5.000000e+00,0.000000e+00,1.0,0.000000e+00,1.000000,1.500000e+01,1.100000e+01,1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00
25%,1.617582e+07,2.146050e+05,3.131000e+03,4.000000e+00,1.0,0.000000e+00,55.000000,2.000000e+01,1.100000e+01,10.000000,0.000000e+00,74.200000,0.000000e+00,0.000000e+00
50%,1.832045e+07,2.582620e+05,3.708000e+03,4.000000e+00,1.0,0.000000e+00,124.000000,2.200000e+01,1.400000e+01,10.000000,1.000000e+00,82.900000,0.000000e+00,0.000000e+00
75%,2.053033e+07,3.007570e+05,3.712000e+03,5.000000e+00,1.0,4.010100e+04,469.000000,2.500000e+01,2.900000e+01,14.000000,1.000000e+00,89.500000,0.000000e+00,0.000000e+00
max,2.268375e+07,3.506260e+05,4.047000e+03,7.000000e+00,1.0,9.050500e+04,631.000000,8.000000e+01,6.200000e+01,15.000000,9.900000e+01,194.000000,2.160000e+02,1.000000e+00

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3832164 entries, 0 to 530047
Data columns (total 40 columns):
 #   Column                    Dtype
---  ------                    -----
 0   RESP_ID                   int64
 1   RESP_SURVEY_ID            int64
 2   RESP_Q_ID                 int64
 3   RESP_POINTS               float64
 4   RESP_COMMENT              object
 5   RESP_MAJORS               object
 6   RESP_IMAGE                object
 7   RESP_TEACHER_ID           object
 8   RESP_TEACHER_INCORRECT    float64
 9   RESP_DATE                 datetime64[ns]
 10  RESP_COURSE               object
 11  RESP_FIELDOFSTUDY         float64
 12  RESP_IMPORT_BATCH         float64
 13  RESP_FORM_KEY             object
 14  RESP_DMG_GENDER           object
 15  RESP_DMG_AGE              float64
 16  RESP_DMG_INDIGENOUS       object
 17  RESP_DMG_COB              object
 18  RESP_DMG_CITIZEN          object
 19  RESP_DMG_LANGUAGE         object
 20  RESP_DMG_HOME             object
 21  RESP_DMG_TERM             object
 22  RESP_DMG_SES              object
 23  RESP_DMG_BASIS_OF_ADM     float64
 24  RESP_DMG_LIABILITY_CAT    object
 25  RESP_DMG_INT_ATTEND_TYPE  object
 26  RESP_DMG_COMMENCING       object
 27  RESP_DMG_COURSE_CAMPUS    object
 28  RESP_DMG_SP_ADM_SCHEME    object
 29  RESP_DMG_SCHOLARSHIP      float64
 30  RESP_DMG_MODE_OF_ATTEND   object
 31  RESP_DMG_SCHOOL_LEAVER    object
 32  RESP_DMG_UAC_PREFERENCE   float64
 33  RESP_DMG_ATAR_ON_ADM      float64
 34  RESP_DMG_PREVIOUS_CREDIT  float64
 35  RESP_DMG_PREVIOUS_INSTI   object
 36  RESP_DMG_STUDENT_COMM_YR  object
 37  RESP_DMG_GRAD_LVL         object
 38  RESP_STUDENT_ID_HASH      object
 39  RESP_COMMENT_HIDDEN       int64
dtypes: datetime64[ns](1), float64(10), int64(4), object(25)
memory usage: 1.2+ GB

In [41]:
df[df.RESP_ID==14148556].RESP_COMMENT.apply(len)

239262    416
Name: RESP_COMMENT, dtype: int64

In [48]:
df_inst = df.iloc[:,[0,4]]

In [51]:
df_inst[df_inst.RESP_ID==14148556].RESP_COMMENT

239262    I liked the practical nature of the subject. W...
Name: RESP_COMMENT, dtype: object

In [52]:
df_inst.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3832164 entries, 0 to 530047
Data columns (total 2 columns):
 #   Column        Dtype
---  ------        -----
 0   RESP_ID       int64
 1   RESP_COMMENT  object
dtypes: int64(1), object(1)
memory usage: 87.7+ MB

In [ ]:
database_username=input("SQL login:")

In [ ]:
database_password=getpass.getpass("Password:")

In [58]:
# Import dataframe into MySQL
import sqlalchemy
database_ip       = '127.0.0.1'
database_name     = 'DAI_Survey_EDA'
database_connection = sqlalchemy.create_engine('mssql://{0}:{1}@{2}:1433/{3}?DRIVER=SQL+Server+Native+Client+11.0'.format(database_username, database_password, database_ip, database_name))

In [53]:
# Uncomment in order to execute data transfer
# df_inst.to_sql(con=database_connection, name='Response_Comments', if_exists='append')

In [62]:
df_rst = pd.read_sql('SELECT count(*) FROM [DAI_Survey_EDA].[dbo].[Response_Comments]',
            database_connection
                    )

In [63]:
df_rst

0  3832164